<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ANALISI DELLE DIMENSIONI DELLA SIMULAZIONE</h2>
 
                <br><br>
            
<table border="1" width="800" cellspacing="0" cellpadding="4"><colgroup><col width="182" /> <col width="183" /> <col width="183" /> <col width="183" /> <col width="183" /> <col width="182" /> </colgroup>
<thead>
<tr valign="TOP">
<th bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Scopo e obbiettivo dell'attività</b></span></span></p>
</th>
<th width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Educazione</b></span></span></p>
</th>
<th width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Training</b></span></span></p>
</th>
<th width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Valutazione della performance</b></span></span></p>
</th>
<th width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Prove cliniche</b></span></span></p>
</th>
<th width="182">
<p lang="it-IT" align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Ricerca</b></span></span></p>
</th>
</tr>
</thead>
<tbody>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Unità di partecipazione</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Individuale</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Gruppo</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Team</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Unità di lavoro</span></span></p>
</td>
<td width="182">
<p lang="it-IT" align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Organizzazione</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Esperienza dei soggetti</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Scuola primaria</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Università (anno di corso)</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Educazione professionale iniziale</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Training sul lavoro</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><span lang="it-IT">Educazione</span></span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"> continua</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Dominio medico di applicazione</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Produzione di immagini</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Pronto intervento</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Corsia/reparto d'ospedale</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Procedure</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Dinamiche con rischio elevato</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Settore professionale interessato</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Studenti pre-laurea</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Personale medico</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Personale infermeristico</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Personale tecnico</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Personale manageriale e amministrativo</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Tipo di “conoscenze” da sviluppare</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Elementi concettuali</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Skill tecniche</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Decision making</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Attitudini e comportamenti in team</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Relazionali</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Età paziente che viene simulato/a</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Neonato/a</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Bambino/a</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Ragazzo/a</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Adulto/a</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Anziano/a</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Tipo di tecnica/tecnologia richiesta</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Simulazione relazionale (Role playing/CRM)</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Simulatori a bassa, media, alta fedeltà (macrosimulazione)</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Realtà virtuale di base (task trainer)</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Realtà virtuale avanzata/aumentata/immersiva</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Paziente </span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><span lang="it-IT">virtuale</span></span></span><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"> a computer (microsimulazione)</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Luogo della simulazione</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Centro di simulazione</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Spazio ibrido</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Laboratorio</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Realtà virtuale</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">In situ</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Livello di partecipazione</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Osservazione</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Osservazione e interazione verbale</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Interazione manuale</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Partecipazione manuale sul posto</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Partecipazione immersiva</span></span></p>
</td>
</tr>
<tr valign="TOP">
<td bgcolor="#cccccc" width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;"><b>Metodo di feedback</b></span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Nessuno</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Automatico</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Dall'istruttore/rice al termine della esecuzione</span></span></p>
</td>
<td width="183">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Dall'istruttore/rice in corso di esecuzione</span></span></p>
</td>
<td width="182">
<p align="CENTER"><span style="font-family: Arial, sans-serif;"><span style="font-size: small;">Debriefing strutturato</span></span></p>
</td>
</tr>
</tbody>
</table>
                Tabella adattata da: G. Torre e A. Lotti, MEDIC 23(2):64-72, 2015; D.Gaba, Qual Saf Health Care 13:2-10, 2004
            </div>
        </div>
    </div>
</section>
