<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Praticare la simulazione</h2>
                <hr class="light">
                <p class="text-faded">Percorsi, strumenti, pratiche e soluzioni per la simulazione
                    <br>e attività formative a servizio della ricerca, dell'ateneo e del territorio</p>
                <a href="#" class="btn btn-default btn-xl">Il SIM.LAB in breve!</a>
            </div>
        </div>
    </div>
</section>
