<section id="contact">
    <div class="container">
        <div class="row">
            <center>
              <img src="img/Logo sim.lab.jpg" class="img-responsive" alt="LOGO" width="300">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Teniamoci in contatto!</h2>
                <hr class="primary">
                <p>Vuoi creare un progetto di simulazione con noi? 
                    <br>scrivici</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ simlab@@unipr.it }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ simlab@@unipr.it }}</p>
            </a>
            </div> 
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/simlabunipr{{ https://github.com/simlabunipr }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ https://github.com/simlabunipr }}</p>
            </a>
        </div>

    </div>
</section>
