<section id="contact">
    <div class="container">
        <div class="row">
            <center>
                <div class="sketchfab-embed-wrapper">
    <iframe title="Simlab 3D CGI rendering test 01" width="400" height="300" src="https://sketchfab.com/models/855911ac65a24649aeec1a6e9bc4a28e/embed?autospin=1&autostart=1">
    </iframe>
   <p style="font-size: 13px; font-weight: normal; margin: 5px; color: ;">
        <a href="https://sketchfab.com/3d-models/simlab-3d-cgi-rendering-test-01-855911ac65a24649aeec1a6e9bc4a28e" target="_blank" style="font-weight: bold; color: ;">Simlab 3D CGI rendering test 01</a>
        by <a href="https://sketchfab.com/Treseizero" target="_blank" style="font-weight: bold; color: #1CAAD9;">Treseizero</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
</div>
    </p>
              <img src="img/Logo sim.lab.jpg" class="img-responsive" alt="LOGO" width="150">
                <a href="mailto:{{ federico.monaco@unipr.it }}">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">CONNETTERE PERSONE<br>FACILITARE L'APPRENDIMENTO</h2>
                <hr class="primary">
                <p>Modella un progetto digitale con noi</p> 
                    <br>CONTATTI</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://calendar.google.com/calendar?cid=azlucm5wcnI1amYxYWt0dWFuNjMzNWszbThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ{ https://calendar.google.com/calendar?cid=azlucm5wcnI1amYxYWt0dWFuNjMzNWszbThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ }}">
                <i class="fa fa-calendar fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>{{ https://calendar.google.com/calendar?cid=azlucm5wcnI1amYxYWt0dWFuNjMzNWszbThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:federico.monaco@unipr.it{{ federico.monaco@unipr.it }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ federico.monaco@unipr.it }}</p>
            </a>
            </div> 
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/treseizero{{ https://github.com/treseizero }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ https://github.com/treseizero }}</p>
            </a>
        </div>

    </div>
</section>
