<section id="contact">
    <div class="container">
        <div class="row">
            <center>
                <div class="sketchfab-embed-wrapper">
    <iframe title="A 3D model" width="480" height="480" src="https://sketchfab.com/models/00c9b0e352a84e9c9efdae1269ac5302/embed?autospin=0.2&amp;autostart=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    </p>
              <img src="img/Logo sim.lab.jpg" class="img-responsive" alt="LOGO" width="80">
                <a href="mailto:{{ federico.monaco@unipr.it }}">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">CONNETTERE PERSONE FACILITARE L'APPRENDIMENTO</h2>
                <hr class="primary">
                <p>Vuoi modellare un progetto digitale? 
                    <br>contattaci</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://calendar.google.com/calendar?cid=azlucm5wcnI1amYxYWt0dWFuNjMzNWszbThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ{ https://calendar.google.com/calendar?cid=azlucm5wcnI1amYxYWt0dWFuNjMzNWszbThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ }}">
                <i class="fa fa-calendar fa-3x wow bounceIn" data-wow-delay=".3s"></i>
                <p>{{ https://calendar.google.com/calendar?cid=azlucm5wcnI1amYxYWt0dWFuNjMzNWszbThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ federico.monaco@unipr.it }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ federico.monaco@unipr.it }}</p>
            </a>
            </div> 
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/treseizero{{ https://github.com/treseizero }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ https://github.com/treseizero }}</p>
            </a>
        </div>

    </div>
</section>
