<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Integrazione della simulazione<br>
                con l'e-Learning</h1>
            <hr>
            <div class="col-sm-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-share-alt-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>CONNETTERE PERSONE</h3>
                    <p class="text-muted">FACILITARE L'APPRENDIMENTO</p>
                </div>
            </div>
        <div class="row">
            <a href="#about" class="btn btn-primary btn-xl page-scroll">VAI AL PROGETTO</a>
        </div>
    </div>
</header>
