<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>INTEGRARE LA SIMULAZIONE CON L'e-LEARNING</h1>
            <br>
            <div class="col-sm-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-8x fa-share-alt-square wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>CONNETTERE PERSONE FACILITARE L'APPRENDIMENTO</h3>
                    <p class="text-muted">Federico Monaco PhD</p>
                </div>
            </div>
<br>
            <div class="row">
            <a href="#about" class="btn btn-primary btn-xl page-scroll">VAI AL PROGETTO</a>
        </div>
    </div>
</header>
