<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>INTEGRARE LA SIMULAZIONE CON L'e-LEARNING</h1>
      
                    <h3>CONNETTERE PERSONE FACILITARE L'APPRENDIMENTO</h3>
                    <p class="text-muted">Federico Monaco PhD</p>
                </div>
            </div>
<br>
            <div class="row">
            <a href="#about" class="btn btn-primary btn-xl page-scroll">VAI AL PROGETTO</a>
        </div>
    </div>
</header>
