<div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INNOVAZIONE DIGITALE E SOCIALE PER L'APPRENDIMENTO 
                            </div>
                            <div class="project-name">
                                    <br>Costruzione sociale dell'apprendimento
                                    <br>networking
                                    <br>opensource/openaccess 
                                    <br>BYOD
                                    
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INCONTRI DI CONSULENZA E PROGETTAZIONE
                            </div>
                            <div class="project-name">
                                Tecniche e metodologie per il design partecipato
                                    con design tool kit e ambiente Git kanban
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INFRASTRUTTURE E RISORSE
                            </div>
                            <div class="project-name">
                                Piattaforma d'ateneo, siti e Risorse Didattiche Aperte
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                RICERCA E SVILUPPO
                            </div>
                            <div class="project-name">
                                Qualità dell'apprendimento
                                    learning analytics
                                    Immersive learning
                                    Human factors
                                   
                                   
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                REALTA' VIRTUALE
                            </div>
                            <div class="project-name">
                               Tour virtuali e CGI (Computer Generated Images)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NO HARM
                            </div>
                            <div class="project-name">
                                Progetto sperimentale per il trattamento dei rifiuti e la prevenzione del rischio 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
