<div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                COSA E' TRESEIZERO
                            </div>
                            <div class="project-name">
                                Innovazione digitale e sociale per l'apprendimento
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INCONTRI DI CONSULENZA E PROGETTAZIONE
                            </div>
                            <div class="project-name">
                                Tecniche e metodologie per il design partecipato
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                INFRASTRUTTURE E RISORSE
                            </div>
                            <div class="project-name">
                                Piattaforma d'ateneo e Risorse Didattiche Aperte
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                RICERCA E SVILUPPO
                            </div>
                            <div class="project-name">
                                Qualità dell'apprendimento e Realtà virtuale
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                REALTA' VIRTUALE
                            </div>
                            <div class="project-name">
                                i tour virtuali e CGI (Computer Generated Images)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                NO HARM
                            </div>
                            <div class="project-name">
                                Progettazione di formazione online con metodologia safety awareness per il trattamento dei rifiuti e la prevenzione del rischio 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
