<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A tua disposizione</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i><i class="fas fa-diagnoses"></i>
                    <h3>Simulazione diagnostica</h3>
                    <p class="text-muted">Trainer e percorsi per apprendere con attività pratiche</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i><i class="fas fa-robot"></i>
                    <h3>Machine Learning</h3>
                    <p class="text-muted">Analisi dei dati per la valutazione della qualità
                        <br>e l'automatizzazione di modelli di simulazione</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-microscope"></i><i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Ricerca</h3>
                    <p class="text-muted">Il laboratorio di simulazione collabora con enti esterni e sviluppa proprie traiettorie di ricerca</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-hand-holding-seedling wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sostenibilità</h3>
                    <p class="text-muted">Ci prendiamo anche cura dell'ambiente</p>
                </div>
            </div>
        </div>
    </div>
</section>
